# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
uwp/
win32/
__pycache__/create_project.cpython-310.pyc
imgui.ini
*.pdb
*.pyc

*idea
*/cmake-build-debug
*/cmake-build-release
*\cmake-build-debug
*\cmake-build-release
*\cmake-build-debug-visual-studio*
*\cmake-build-release-visual-studio*
*\cmake-build-minsizerel-visual-studio*
*\cmake-build-relwithdebinfo-visual-studio*
*\cmake-build-debug-clang*
*\win
*/.vscode
*\.vscode
*/build
*/uwp
*.vs
*/out
*/Debug
*\obj
*/obj
*.deps.json
*CMakeSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/CMakeWorkspaceSettings.json
/.VSCodeCounter
\.VSCodeCounter
*.DS_Store
*cmake-build-debug
*xcode
CppProperties.json
*.log
templates/harmony-dojo/vs22/
