[submodule "submodules/flecs"]
	path = submodules/flecs
	url = https://github.com/SanderMertens/flecs
[submodule "submodules/sdl"]
	path = submodules/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "submodules/sdl3webgpu"]
	path = submodules/sdl3webgpu
	url = https://github.com/eliemichel/sdl3webgpu.git
