# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

build/
win32/
__pycache__/create_project.cpython-310.pyc
imgui.ini
*.pdb
*.pyc
*.bin

*idea
*/cmake-build-debug
*/build
*/uwp
*/.vs
*/out
*CMakeSettings.json
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/CMakeWorkspaceSettings.json
