# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
hv/include/hv/axios.h
hv/include/hv/base64.h
hv/include/hv/Buffer.h
hv/include/hv/Channel.h
hv/include/hv/Event.h
hv/include/hv/EventLoop.h
hv/include/hv/EventLoopThread.h
hv/include/hv/EventLoopThreadPool.h
hv/include/hv/hasync.h
hv/include/hv/hatomic.h
hv/include/hv/hbase.h
hv/include/hv/hbuf.h
hv/include/hv/hconfig.h
hv/include/hv/hdef.h
hv/include/hv/hdir.h
hv/include/hv/hendian.h
hv/include/hv/herr.h
hv/include/hv/hexport.h
hv/include/hv/hfile.h
hv/include/hv/hlog.h
hv/include/hv/hloop.h
hv/include/hv/hmain.h
hv/include/hv/hmap.h
hv/include/hv/hmath.h
hv/include/hv/hmutex.h
hv/include/hv/hobjectpool.h
hv/include/hv/hpath.h
hv/include/hv/hplatform.h
hv/include/hv/hproc.h
hv/include/hv/hscope.h
hv/include/hv/hsocket.h
hv/include/hv/hssl.h
hv/include/hv/hstring.h
hv/include/hv/hsysinfo.h
hv/include/hv/hthread.h
hv/include/hv/hthreadpool.h
hv/include/hv/htime.h
hv/include/hv/http_client.h
hv/include/hv/http_content.h
hv/include/hv/HttpContext.h
hv/include/hv/httpdef.h
hv/include/hv/HttpMessage.h
hv/include/hv/HttpParser.h
hv/include/hv/HttpResponseWriter.h
hv/include/hv/HttpServer.h
hv/include/hv/HttpService.h
hv/include/hv/hurl.h
hv/include/hv/hv.h
hv/include/hv/hversion.h
hv/include/hv/ifconfig.h
hv/include/hv/iniparser.h
hv/include/hv/json.hpp
hv/include/hv/md5.h
hv/include/hv/nlog.h
hv/include/hv/requests.h
hv/include/hv/sha1.h
hv/include/hv/singleton.h
hv/include/hv/Status.h
hv/include/hv/TcpClient.h
hv/include/hv/TcpServer.h
hv/include/hv/ThreadLocalStorage.h
hv/include/hv/UdpClient.h
hv/include/hv/UdpServer.h
hv/include/hv/WebSocketChannel.h
hv/include/hv/WebSocketClient.h
hv/include/hv/WebSocketParser.h
hv/include/hv/WebSocketServer.h
hv/include/hv/wsdef.h
